/* body {
background: rgb(214,63,251);
background: radial-gradient(circle, rgba(214,63,251,1) 0%, rgba(197,65,251,1) 88%, rgba(152,70,252,1) 100%);
} */

/* .container {
    background: white;
} */

/* .trans {
    background: rgb(214,63,251);
    background: radial-gradient(circle, rgba(214,63,251,1) 0%, rgba(197,65,251,1) 88%, rgba(152,70,252,1) 100%);  
} */

.pointer
{
    cursor: pointer;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  padding: 20px;
  font-size: 20px;
  z-index: 10;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}