/* body {
background: rgb(214,63,251);
background: radial-gradient(circle, rgba(214,63,251,1) 0%, rgba(197,65,251,1) 88%, rgba(152,70,252,1) 100%);
} */

/* .container {
    background: white;
} */

/* .trans {
    background: rgb(214,63,251);
    background: radial-gradient(circle, rgba(214,63,251,1) 0%, rgba(197,65,251,1) 88%, rgba(152,70,252,1) 100%);  
} */